2026/aula-3-banco-e-dashboard/n8n-workflow-aula3.json
{
  "name": "Aula 3 — pedidos da API para o Postgres",
  "nodes": [
    {
      "parameters": {},
      "id": "a3a3a3a3-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/pedidos",
        "options": {}
      },
      "id": "a3a3a3a3-0002-4000-8000-000000000002",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "pedido_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "estado",
              "value": "={{ $json.customer_state }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "categoria",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "preco",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "f5",
              "name": "prazo_dias",
              "value": "={{ $json.delivery_days }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a3a3a3a3-0003-4000-8000-000000000003",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 0]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "pedidos",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a3a3a3a3-0004-4000-8000-000000000004",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 0]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "Postgres", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
